@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

body {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, Sans-Serif;
}

a {
    text-decoration: none;
    color: #886600;
}

.header {
    text-align: center;
}

.project {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: #cccccc;
    padding: 15px;
    margin-bottom: 10px;
}

.menu {
    float: left;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px 0px 10px 0px;
    background-color: #dddddd;
    padding: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.menu ul {
    padding: 0px;
    margin: 0px;
}

.menu ul li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.menu ul li a {
    padding: 5px 10px 5px 10px;
    display: block;
    border-radius: 10px;
}

.menu ul li a:hover {
    background-color: #ddeeff;
}

span.option {
    border-style: solid;
    border-width: 1px;
    border-color: #aaaaaa;
    background-color: #bbbbbb;
}

.code {
    background: black;
    color: #22FF22;
    padding: 10px;
    white-space: pre;
    font-family: 'VT323', monospace;
    font-size: 24px;
    border-radius: 10px;
}
